* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: #8cc443; */
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
}
:root {
  --base-family: "Kaushan Script", cursive;
  --font-family: "PT Serif", serif;
  /* https://media.istockphoto.com/photos/smiling-indian-business-man-working-on-laptop-at-home-office-young-picture-id1307615661?b=1&k=20&m=1307615661&s=170667a&w=0&h=Zp9_27RVS_UdlIm2k8sa8PuutX9K3HTs8xdK0UfKmYk= */
}
.main-all-container {
  width: 96%;
  /* border: 2px solid red; */
  margin: 0px auto;
  box-shadow: 5px 5px 30px gray;
  border: 5px solid #91ff00;
}
.main-header-section {
  position: relative;
  z-index: 111;
  width: 100%;
  margin: 0px auto;
  /* border: 1px solid red; */
  box-shadow: 0px 0px 4px gray;
}
.main-header-section .header-article {
  width: 82%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-article aside:nth-child(1) span::before {
  content: "F";
  color: #8bf007;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: -3.5px;
  font-family: "Roboto", sans-serif;
}
.header-article aside:nth-child(1) :is(span, a) {
  font-family: var(--base-family);
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
  color: gray;
}
.main-header-section .header-article aside:nth-child(2) {
  flex-basis: 75%;
}
.header-article aside:nth-child(2) nav ul :is(li, a) {
  text-decoration: none;
  list-style: none;
  padding: 20px 0px;
  color: gray;
  text-transform: uppercase;
  font-size: 13.5px;
  transition: all 0.1s;
}
.header-article aside:nth-child(2) nav ul li:first-child {
  border-bottom: 4px solid #8fef11;
  font-weight: bold;
}
.header-article aside:nth-child(2) nav ul li:hover {
  border-bottom: 4px solid #8fef11;
  font-weight: bold;
}
.header-article aside:nth-child(2) nav ul {
  display: flex;
  justify-content: space-between;
}
.main-header-section .header-article aside:nth-child(3) {
  flex-basis: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-article aside:nth-child(3) .header-icon {
  border: 1px solid gray;
  height: 33px;
  width: 33px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.header-article aside:nth-child(3) .header-icon:hover {
  background-color: #8bf007;
  border: 1px solid #8bf007;
}
.header-article aside:nth-child(3) .header-icon:hover a span i {
  color: white;
}
.header-article aside:nth-child(3) .header-icon a span i {
  font-size: 13px;
  color: gray;
  transition: all 0.5s;
}
.image-main-container {
  width: 100%;
  /* border: 1px solid red; */
  margin: 0px auto;
  height: 450px;
  max-height: 450px;
  background-image: url("../images/slider_bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-main-container .image-article {
  position: relative;
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  text-align: left;
  /* flex-basis: 50%; */
  gap: 120px;
}
.image-main-container .image-article aside:nth-child(1) {
  height: 35px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 130px;
}
.image-main-container .image-article aside:nth-child(1) a span i {
  font-size: 15px;
  color: white;
  transform: rotate(0deg);
  transition: all 2s;
}
.image-main-container .image-article aside:nth-child(1):hover a span i {
  transform: rotate(360deg);
}
.image-article aside:nth-child(2) div:nth-child(1) h2 {
  font-size: 28px;
  color: #91ff00;
  font-weight: lighter;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  font-family: var(--font-family);
  text-transform: capitalize;
}
.image-article aside:nth-child(2) div:nth-child(1) h1 {
  font-size: 35px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 45px;
  color: rgb(72, 68, 68);
}
.image-article aside:nth-child(2) div:nth-child(1) p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: gray;
}
.image-article aside:nth-child(2) div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 18px 0px;
}
.image-article aside:nth-child(2) div:nth-child(2) p {
  font-size: 14px;
  color: rgba(65, 62, 62, 0.532);
}
.image-article aside:nth-child(2) div:nth-child(2) button {
  padding: 5px 17px;
  color: white;
  text-transform: capitalize;
  background-color: #91ff00;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.286);
}
.image-article aside:nth-child(2) div:nth-child(2) a span i {
  color: gray;
  font-size: 25px;
  transform: rotate(0deg);
  transition: all 2s;
}
.image-article aside:nth-child(2) div:nth-child(2) a span i:hover {
  transform: rotate(360deg);
}
.footer-container {
  width: 100%;
  /* border: 1px solid blue; */
  margin: 0px auto;
}
.footer-container .footer-article {
  /* border: 1px solid red; */
  width: 79%;
  padding: 40px 0px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer-container .footer-article aside {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer-container .footer-article aside div:nth-child(1) {
  /* border: 1px solid red; */
  margin-top: 15px;
  flex-basis: 15%;
}
.footer-article aside div:nth-child(1) span i {
  font-size: 30px;
  color: gray;
}
.footer-article aside div:nth-child(1) span i:nth-child(1) {
  transform: rotate(0deg);
  transition: all 2s;
}
.footer-article
  aside:nth-child(1)
  div:nth-child(1)
  span:nth-child(1)
  i:nth-child(1):hover {
  transform: rotate(360deg);
}
.footer-container .footer-article aside div:nth-child(2) {
  /* border: 1px solid red; */
  flex-basis: 85%;
}
.footer-article aside div:nth-child(2) h2 {
  text-transform: uppercase;
  font-family: var(--base-family);
  letter-spacing: 0.8px;
  font-size: 15px;
  color: rgb(94, 91, 91);
}
.footer-article aside div:nth-child(2) p {
  letter-spacing: 0.5px;
  font-size: 13px;
  margin: 10px 0px;
  color: rgb(78, 76, 76);
}
.footer-article aside div:nth-child(2) a {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #91ff00;
}
